table {
    padding: 1rem;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #152456;
    padding: 5px 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #fff;
}

.hover:hover {
    text-decoration: underline;
    transition: ease .2s;
}