header{
    background: linear-gradient(rgba(227, 239, 255, 0.782), rgba(227, 239, 255, 0.782)), url(../../assets/img-2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 40rem;
}