.section_hr {
  color: #152456;
  border-top: solid 1px;
}
.point {
  cursor: pointer;
}
.selector ul li:hover {
  background-color: #e3efff;
}
.selecteed ol {
  list-style: auto;
  font-weight: 500;
}
.selecteed ul {
  list-style: disc;
  padding-left: 1.5rem;
}

@media (min-width: 640px) {
  .selectee {
    overflow-y: scroll;
  }
}
