.apply-container {
    border-radius: 12px 12px 0 0;
}

.custom-input {
    margin: 8px 0;
    width: 18rem;
    height: 2.8rem;
    padding: 0 10px 0 1rem;
    color: #152456;
}

.custom-input:focus {
    outline: none;
}

input[type=radio] {
    cursor: pointer;
}

@media (min-width: 640px) {
    .custom-input {
        width: 16rem;
        margin: 1rem 10px;
    }
}

@media (min-width: 1024px) {
    .custom-input {
        justify-self: center;
        width: 24rem;
        height: 3.3rem;
        margin: 1rem 1.3rem;
    }
}